* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #262626;
}

header {
    text-align: center;
    line-height: 2rem;
    justify-content: center;
    margin-bottom: 3rem;
    color: white;
}

h1 {
    font-size: 4rem;
    margin-bottom: 2.5rem;
}

h2 {
    color: #feffd7;
}

.logo {
    max-width: 80%;
    image-rendering: -moz-crisp-edges;
  }
  
.error {
    background: #A63446;
    padding: 0.5rem 1rem;
    color: #ffffff;
    margin-bottom: 1rem;
    text-align: center;
}
  
.form {
    display: flex;
    flex-direction: column;
}
  
.input, .create {
    margin: 1rem 0;
    max-width: 100%;
}
  
.input {
    font-family: inherit;
    padding-bottom: 1rem;
    background: none;
    border: none;
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
    text-align: center;
    font-size: 1.25rem;
    transition: border-bottom-color 0.3s ease-in-out;
    caret-color: #56BC58;
}
  
.input:focus {
    outline: none;
    border-bottom-color: #56BC58;
}
  
.input::placeholder {
    color: #ffffff;
    opacity: 0.7;
}
  
.create {
    cursor: pointer;
    font-family: inherit;
    font-size: 1.15rem;
    color: #262626;
    border: none;
    background-color: #56BC58;
    padding: 0.75em 1.25rem;
    box-shadow: 3px 3px 0 0 #ffffff;
    transition: box-shadow 0.2s ease-in-out;
}
  
.create:hover {
    box-shadow: 0 0 0 0 #ffffff;
}
  
.created {
    color: #ffffff;
}
  
.created a {
    color: inherit;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    max-width: 31.5rem;
    padding: 1px;
    border: 1px solid white;
}

.square {
    margin: 1px;
    padding: 2px;
    width: 3rem;
    height: 3rem;
    background-color: #fff;
}

.square-label {
    font-size: 1rem;
    color: #262626;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    padding: 0.75rem;
    border-radius: 0.75rem;
    font-size: 0.75rem;
    font-family: 'Courier New', Courier, monospace;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }