body {
    background-color: #fff;
}

pre {
    font-size: 0.75em;
}

canvas {
    width: 100%;
}

.main {
    padding-top: 5em;
}

.scroll {
    overflow:auto;
    max-height: 500px;
}

.segment {
    min-height: 400px;
    height: 100%;
}

