body {
  background: #101010 url('../img/nasa_universe.jpg') no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

canvas {
  display: block;
  margin: 30px auto 0;
  border: 1px solid #ccc;
  background: #000;
  width: 100%;
}

#output {
  position: absolute;
  left: 50%;
  margin-top: 1em;
  margin-left: -5em;
  color: #ccc;
}
