html {
  background: #101010 url('../img/nasa_universe.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  padding:0;
  margin:0;
}

canvas {
  display: block;
  margin: 30px auto 0;
  border: 1px dashed #ccc;
  background: #000;
}
